[package]
name = "engine"
version = "0.1.0"
edition = "2024"

[dependencies]
common = { path = "../common" }
row = { path = "../row" }

[dev-dependencies]
uuid = { workspace = true }
tempfile = { workspace = true }
